// FONT 
// font-family: 'Mitr', sans-serif;
html {
    font-family: 'Mitr', sans-serif !important;
    
}

body {
    margin-top: 125px;
    color: $gray-600;
}


/* NAGEGACAO */
#navegacao {
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    outline: 0;
    text-decoration: none;
    list-style: none;
    line-height: normal;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 2;
}

#navegacao a {
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    transition: all ease .25s;
}

#navegacao>div {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.navegacao-portais {
    width: 100%;
    height: 30px;
    position: relative;
    top: 0;
    z-index: 9999;
    background-color: $red;
}

.navegacao-portais .container {
    margin-right: auto;
    margin-left: auto;
}

.navegacao-portais.fiesp .container {
    width: 960px
}

.navegacao-portais.sesi .container {
    width: 960px
}

.navegacao-portais.senai {
    background-color: #006699;
}

.navegacao-portais.senai .container {
    width: 1004px
}

.navegacao-portais ul {
    margin: 0;
    padding: 0;
    display: inline-table;
    list-style: none;
    float: right !important;
}

.navegacao-portais ul li {
    display: inline-table;
    text-transform: uppercase;
    margin: 0 7px 0 0;
}

.navegacao-portais ul li a {
    color: $white;
    background: transparent;
    text-decoration: none;
    font-size: 13px;
}

.navegacao-portais ul li a.fa {
    margin: 0;
    padding: 7px 0 8px;
    font-size: 15px;
    width: 27px
}

.navegacao-portais ul li a:hover,
.navegacao-portais ul li a:active,
.navegacao-portais ul li a:focus {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.navegacao-portais ul li.midias-sociais strong {
    display: none
}

.navegacao-portais ul li.midias-sociais {
    margin: 0 !important;
    padding: 0;
    text-align: center;
    font-weight: normal !important;
    border-left: 1px solid rgba(255, 255, 255, .6);
    background: none;
}

.navegacao-portais ul li.midias-sociais:last-child {
    border-right: 1px solid rgba(255, 255, 255, .6)
}

.navegacao-portais ul li.midias-sociais a:hover {
    color: $white;
    text-decoration: none;
    background: transparent;
}

.navegacao-portais .midias-sociais.facebook a:hover {
    background-color: #3B5998;
}

.navegacao-portais .midias-sociais.twitter a:hover {
    background-color: #5EA9DD;
}

.navegacao-portais .midias-sociais.youtube a:hover {
    color: #D22827 !important;
    background-color: $white;
}

.navegacao-portais .midias-sociais.linkedin a:hover {
    background-color: #0177B5;
}

.navegacao-portais .midias-sociais.instagram a:hover {
    background: #cc2366;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.navegacao-portais .midias-sociais.slideshare a:hover {
    background-color: #00A7A9;
}

.navegacao-portais .midias-sociais.flickr a:hover {
    background-color: #0062DD;
}

/* HEADER */
.logo-acqua-park {
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 210px;
    padding-left: 20px;
    top: 140px;
    left: 0;
    z-index: 999;
}

.logo-acqua-park img {
    width: 25vw;
}

.cat-sesi {
    position: absolute;
    display: inline-block;
    width: auto;
    min-height: auto;
    top: 126px;
    right: 0;
    z-index: 999;
}

.cat-sesi img {
    width: 40vw;
}

/* RESPONSIVE */
@media(min-width: 992px) {
    .logo-acqua-park img {
        width: auto;
    }

    .cat-sesi img {
        width: auto;
    }
}

@media(min-width: 1400px) {
    .logo-acqua-park {
        width: 1320px;
        padding-left: 0px;
        margin-left: calc(50% - 660px);
    }
}




// ALTERAR COR DA ONDA SVG
//filter: invert(11%) sepia(100%) saturate(5547%) hue-rotate(10deg) brightness(86%) contrast(119%);
// -webkit-transform: scaleY(-1);
// transform: scaleY(-1);

/* CARROSEL */
#carouselAcquaParkIndicators .onda::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    background-color: transparent;
    background-image: url("/dist/images/onda-azul.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -5px;
    left: 0px;
    // filter: invert(40%) sepia(77%) saturate(6440%) hue-rotate(194deg) brightness(89%) contrast(95%);
}

@media (min-width:992px) {
    #carouselAcquaParkIndicators .onda::after {       
        background-size: cover;
        bottom: -1px;
    }
}




.tns-controls [disabled] {
    color: #999999;
    background: #B3B3B3;
    cursor: not-allowed !important;
}

.tns-nav {
    text-align: center;
    margin: 10px 0;
}

.tns-nav>[aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav>.tns-nav-active {
    background: #999;
}

// RESPONSIVO 
@media(min-width: 767px) {
    #navegacao {
        font-size: 13px !important;
        font-weight: 600;
    }

    .navegacao-portais ul li {
        margin: 0 20px 0 0;
        height: 100%
    }

    .navegacao-portais ul li a.fa {
        width: 50px;
        height: 100%
    }
}




/* BACK TO TOP BUTTON */
#scroll-top {
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0;
    text-decoration: none;
    z-index: 999999;
}

#scroll-top button {
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    border: solid 5px #FFEBEE50;
    background-color: #2094A2;
    color: $white;
    box-shadow: 0 0 1px #333;
    display: block;
    font-family: tahoma;
    font-size: 11px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#scroll-top button:hover {
    background-color: #EC792750;
    border: solid 5px #FFEBEE50;
}


/* PARQUE */

#parque {
    padding: 60px 0 90px;
    text-align: center;
    color: $white;
    background: $primary;
    background: -moz-linear-gradient(180deg, $primary 0%, $blue-700 50%);
    background: -webkit-linear-gradient(180deg, $primary 0%, $blue-700 50%);
    background: linear-gradient(180deg, $primary 0%, $blue-700 50%);
}

#parque.ondas {
    // display: inline-block;
    position: relative;
}

#parque.ondas::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: transparent;
    background-image: url("/dist/images/ondas.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -210px;
    left: 0px;
}

/* SOBRE */

#sobre {
    padding: 210px 0 100px;
    color: $white;
    background: -moz-linear-gradient(180deg, #25C7BA 0%, #1A9CAD 50%);
    background: -webkit-linear-gradient(180deg, #25C7BA 0%, #1A9CAD 50%);
    background: linear-gradient(180deg, #25C7BA 0%, #1A9CAD 50%);
}

.box {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff20;
}


/* MAPA */

#mapa-cat {
    padding: 100px 0;
    text-align: center;
    color: $gray-600;
    background-color: #F7F7F7;
}

#mapa-cat.onda {
    position: relative;
}

#mapa-cat.onda::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    background-color: transparent;
    background-image: url("/dist/images/onda-branca.svg");
    // filter: invert(100%) sepia(11%) saturate(21%) hue-rotate(359deg) brightness(116%) contrast(94%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -40px;
    left: 0;
    
}



#mapa-cat ol,
#mapa-cat ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mapa-cat ol {
    counter-reset: orderedlist;
    text-align: left;
}

#mapa-cat ol li::before {
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-size: 1.5rem;
    line-height: 3rem;
    width: 2rem;
    height: 2rem;
    padding: 0 0.75rem;
    margin: 0 20px 0 0;
    text-align: left;
    color: $white;
    background-color: $gray-600;
    border-radius: 1em;
}

#mapa-cat .column {
    column-count: 1;
    column-gap: 40px;
}

@media(min-width: 767px) {
    #mapa-cat .column {
        column-count: 2;
    }
}

@media(min-width: 992px) {
    #mapa-cat .column {
        column-count: 3;
    }
}


/* CURTA O SESI ACQUA PARTK */

#curta {
    padding: 60px 0;
    color: $white;
    text-align: center;
    background: transparent linear-gradient(180deg, #25C7BA 0%, #1A9CAD 100%) 0% 0% no-repeat padding-box;
}

#curta.onda {
    position: relative;
}

#curta.onda::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url("/dist/images/onda-verde.svg");
    // filter: invert(61%) sepia(66%) saturate(474%) hue-rotate(126deg) brightness(94%) contrast(90%);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -40px;
    left: 0;
    
}

.my-slider-2 {
    text-align: left;
}

.my-slider-2 div {
    width: 300px;
}

@media(min-width: 767px) {
    .my-slider-2 div {
        width: 480px;
    }
}


/* CALENDARIO */

#calendario {
    padding: 60px 0;
    background-color: $primary;
    color: $white;

}

#calendario.onda {
    position: relative;
}

#calendario.onda::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url("/dist/images/onda-azul.svg");
    // filter: invert(40%) sepia(77%) saturate(6440%) hue-rotate(194deg) brightness(89%) contrast(95%);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -40px;
    left: 0;
    
}



/* carteirinha */
#carteirinha {
    padding: 90px 0;
    background: #F4D400;
    background: -moz-linear-gradient(270deg, #F4D400 0%, #E68C26 100%);
    background: -webkit-linear-gradient(270deg, #F4D400 0%, #E68C26 100%);
    background: linear-gradient(270deg, #F4D400 0%, #E68C26 100%);
    color: $white;
}

#carteirinha.onda {
    position: relative;
}

#carteirinha.onda::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url("/dist/images/onda-azul.svg");
    // filter: invert(40%) sepia(77%) saturate(6440%) hue-rotate(194deg) brightness(89%) contrast(95%);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -2px;
    left: 0;
}


/* DAY-USE */
#day-use {
    padding: 200px 0 80px;
    text-align: center;
    color: $gray-600;
    background-color: #f7f7f7;
}

.btn, .btn:hover {
    color: $white;
}

.btn-secondary {
    color:$primary
}
#day-use.ondas {
    // display: inline-block;
    position: relative;
}

#day-use.ondas::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: transparent;
    background-image: url("/dist/images/ondas.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -100px;
    left: 0px;
}




// WHATSAPP
.chama-zap {
    position: fixed;
    padding: 12px;
    top: 300px;
    right: -165px;
    width: 230px;
    // height: 65px;
    z-index: 9999;    
    background-color: $success;
    border-radius: .75rem 0 0 .75rem;   
    transition: all .35s;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

@media(min-width: 740px) {
    .chama-zap {
        top: 600px;
    }
}

.chama-zap:hover {
    right: 0;
}

.chama-zap a{
    text-decoration: none;
}

.chama-zap i {
    position: relative;
    display: flex;
    margin-right: 10px;
    font-size: 50px;
    float: left;
    color: $white;
}

.chama-zap div {
    position: relative;
    display: flex;
    text-align: left;
    line-height: 1rem;
    font-size: 14px;
    color: $white;
    float: rjight;
    text-transform: uppercase;
}


// FOOTER
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.footer-primeira-linha {
    background-color: #6e160c;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    border-bottom: 3px solid;
}

.footer-segunda-linha {
    background: url('/dist/images/bg_footer.jpg')center #074a71;
    background-size: 100% auto;
    height: 102px;
    text-align: center;
    font-size: 14px;
    border-radius: 0;
}

@media (max-width:768px) {
    .footer-segunda-linha {
        height: 144px;
    }
}

@media (max-width:480px) {
    .footer-segunda-linha {
        height: 145px;
    }
}

.footer-tres-linha {
    background-color: #BC1016;
    font-style: normal;
    color: #FFFFFF;
    border-bottom: 3px solid;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(64, 64, 64, 0.8);
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* MODAL */

#individual.onda {
    position: relative;
}

#individual.onda::after, #familia.onda::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    min-height: 70px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 37px;
    left: 0;
}

#individual.onda::after {
    background-image: url("/dist/images/onda-laranja.svg");
}

#familia.onda::after {
    background-image: url("/dist/images/onda-azul-modal.svg");
}